header, nav, main, footer {
	padding: 15px 0;
}
header {
	padding-top: 30px;
}
h1 {
	padding: 0 0 5px;
	font-size: 320%;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 79%;
	font-weight: 400;
}
footer a {
	position: relative;
	top: 3px;
}
.date-text {
	white-space: nowrap;
}