main {
	margin: 0 auto;
	max-width: 770px;
}
@media (max-width: 789px) {
	main {
		max-width: 640px;
	}	
}
@media (max-width: 659px) {
	main {
		max-width: 510px;
	}	
}
@media (max-width: 529px) {
	main {
		max-width: 380px;
	}	
}
@media (max-width: 399px) {
	main {
		max-width: 250px;
	}	
}
h3 {
	margin: 0 0 5px;
	padding: 0;
}
.grid {
	margin: -5px -5px 25px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	{{#showDebugColors}}background-color: #62c;{{/showDebugColors}}
}
.grid-item {
	margin: 5px;
	padding: 0;
	{{#showDebugColors}}background-color: #51b;{{/showDebugColors}}
}
#grid-complete .grid-item {
	width: 250px;
}
#grid-complete .grid-item {
	width: 250px;
}
.grid-item-link {
	display: flex;
	align-items: center;
	justify-content: center;
}
#grid-complete .grid-item-link {
	width: 250px;
	height: 250px;
}
#grid-playable .grid-item-link, #grid-junk .grid-item-link {
	width: 120px;
	height: 120px;
}
.grid-item h4 {
	margin: 5px 0 0;
	padding: 0;
	font-size: 90%;
}
.grid-item p {
	margin: 5px 0 0;
	padding: 0;
	font-size: 80%;
}
#grid-junk {
	margin-bottom: -5px;
}