body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway',sans-serif;
}
header {
	text-align: center;
	{{#showDebugColors}}background-color: #f88;{{/showDebugColors}}
}
header h1 {
	margin: 0;
}
header h1 a {
	text-decoration: none;
	color: #000;
}
{{#showDebugColors}}
nav {
	background-color: #8e8;
}
{{/showDebugColors}}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
nav li {
	margin: 0;
	padding: 0;
	min-width: 100px;
	text-align: center;
	list-style-type: none;
}
nav a {
	color: #000;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}
main {
	padding: 15px 0;
	display: flex;
	justify-content: center;
	{{#showDebugColors}}background-color: #88f;{{/showDebugColors}}
}
footer {
	text-align: center;
	{{#showDebugColors}}background-color: #ff6;{{/showDebugColors}}
}
footer p {
	margin: 0;
	padding: 0;
}
footer a {
	position: relative;
	top: 3px;
	text-decoration: none;
}
.screen-reader-only {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute !important;
}