<section>
	<img id="portrait" src="../pixels/self-portrait.png" width="270" height="267" alt="A pixel art self-portrait.">

	<p>My name's Ayla Myers and I'm an independent game designer and developer based in New York City! I spend my time creating delightful games that I think are missing from the world.</p>

	<p>Lately I've been building high-quality <a href="{{{external.lexaloffleUri}}}" target="_blank">PICO-8 games</a>, streaming game development on <a href="{{{external.twitchUri}}}" target="_blank">Twitch</a>, creating beginner-friendly game dev tutorials on <a href="{{{external.youtubeUri}}}" target="_blank">YouTube</a>, engaging with the local NYC indie dev community, and showcasing games at industry events such as PAX East!</p>

	<p>When I'm not making games, I often find work as a software engineer and tech lead. You can find my professional résumé <a href="../resume.pdf" target="_blank">here</a>.</p>

	<p>Feel free to get in touch if:</p>
	<ul>
		<li>You want to collaborate on a game or art installation</li>
		<li>You'd like to commission a game or piece of pixel art</li>
		<li>You're getting started in game development and would like guidance or feedback</li>
		<li>You know of any exciting opportunities that I'd be a good fit for</li>
		<li>You just wanna talk about games and whatnot!</li>
	</ul>

	<p>So basically, you're welcome to <a href='mailto&#58;br%69d%67s&#46;&#100;&#101;&#37;76@gm%61&#105;l&#46;c&#111;m'>contact me</a> if you think I can help in any way!</p>
</section>

<section>
	<h2>Talks</h2>
	<p>I get a lot of energy and joy from giving talks, leading workshops, teaching classes, and sitting on panels! Here are some recent or upcoming events that I've participated in:</p>
	<ul>
		<li><strong>Procedural Landscape Generation Workshop</strong> at Never Graduate Week</li>
		<li><strong>The joys of PICO-8 token crunching!!</strong> at !!con <a href="https://www.youtube.com/watch?v=QnDRmPx8yLY" target="_blank">[recording]</a></li>
		<li><strong>&quot;Oh No&quot; Moments</strong> at Women in Games with Playcrafting</li>
		<li><strong>Meet &amp; Code Pair Programming Workshop</strong> at the Recurse Center <a href="https://docs.google.com/presentation/d/19BQqD3Y6EwQglBvwNh9vhY39g8sZzSiXKe6G8X30Pko" target="_blank">[slides]</a></li>
		<li><strong>Wave Function Collapse</strong> at Code As Craft: WomEnby Tech <a href="https://docs.google.com/presentation/d/1lVxKm8bpdO0NqJzRURosOiwNFFEd49oSWNm_TWM5aTs" target="_blank">[slides]</a></li>
		<li><strong>Networking Real-Time Multiplayer Games</strong> at QueensJS <a href="../slides/networking-games" target="_blank">[slides]</a></li>
		<li><strong>Makin' Pixel Art</strong> at Etsy <a href="../slides/pixel-art" target="_blank">[slides]</a></li>
	</ul>
	<p>If you're looking for speakers in the spaces of indie game development, pixel art, fantasy consoles, LGBTQ issues, or the intersection of all of these, then please <a href='mailto&#58;br%69d%67s&#46;&#100;&#101;&#37;76@gm%61&#105;l&#46;c&#111;m'>reach out</a>!</p>
</section>

<section>
	<h2>Links</h2>
	<ul id="grid">
		<li style="background-color: #1da1f2;">
			<a href="{{{external.twitterUri}}}" title="Twitter" target="_blank">{{> twitterIcon}}</a>
		</li>
		<li style="background-color: #ff0000;">
			<a href="{{{external.youtubeUri}}}" title="Youtube" target="_blank">{{> youtubeIcon}}</a>
		</li>
		<li style="background-color: #6441a5;">
			<a href="{{{external.twitchUri}}}" title="Twitch" target="_blank">{{> twitchIcon}}</a>
		</li>
		<li style="background-color: #333333;">
			<a href="{{{external.githubUri}}}" title="GitHub" target="_blank">{{> githubIcon}}</a>
		</li>
		<li style="background-color: #ff77a8;">
			<a href="{{{external.lexaloffleUri}}}" title="Lexaloffle" target="_blank">{{> lexaloffleIcon}}</a>
		</li>
		<li class="kofi" style="background-color: #4b798d;"">
			<a href="{{{external.kofiUri}}}" title="Ko-Fi" target="_blank">{{> kofiIcon}}</a>
		</li>
		<li class="newgrounds" style="background-color: #fda238;">
			<a href="{{{external.newgroundsUri}}}" title="Newgrounds" target="_blank">{{> newgroundsIcon}}</a>
		</li>
		<li style="background-color: #2f7f6f;">
			<a href="{{{external.gamejoltUri}}}" title="Game Jolt" target="_blank">{{> gamejoltIcon}}</a>
		</li>
		<li style="background-color: #0077b5;">
			<a href="{{{external.linkedinUri}}}" title="LinkedIn" target="_blank">{{> linkedinIcon}}</a>
		</li>
		<!-- <li style="background-color: #e1306c;">
			<a href="{{{external.instagramUri}}}" title="Instagram" target="_blank">{{> instagramIcon}}</a>
		</li> -->
		<!-- <li style="background-color: #ff5900;">
			<a href="{{{external.patreonUri}}}" title="Patreon" target="_blank">{{> patreonIcon}}</a>
		</li> -->
		<!-- <li style="background-color: #3b5998;">
			<a href="{{{external.facebookUri}}}" title="Facebook" target="_blank">{{> facebookIcon}}</a>
		</li> -->
		<!-- <li style="background-color: #13aff0;">
			<a href="{{{external.artstationUri}}}" title="ArtStation" target="_blank">{{> artstationIcon}}</a>
		</li> -->
		<!-- <li style="background-color: #000000;">
			<a href="{{{external.mediumUri}}}" title="Medium" target="_blank">{{> mediumIcon}}</a>
		</li> -->
		<li style="background-color: #36465d;">
			<a href="{{{external.tumblrUri}}}" title="Tumblr" target="_blank">{{> tumblrIcon}}</a>
		</li>
		<!-- <li style="background-color: #bd081c;">
			<a href="{{{external.pinterestUri}}}" title="Pinterest" target="_blank">{{> pinterestIcon}}</a>
		</li> -->
		<!-- <li style="background-color: #05cc47;">
			<a href="{{{external.deviantartUri}}}" title="DeviantArt" target="_blank">{{> deviantartIcon}}</a>
		</li> -->
	</ul>
</section>