<!DOCTYPE html>
<html lang="en">
	<head>
		{{> analyticsHead }}
		<title>{{#title}}{{.}} | {{/title}}{{siteName}}</title>
		<!--<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->
		<meta name="description" content="{{siteDescription}}" />
		<meta property="og:title" content="{{siteName}}" />
		<meta property="og:description" content="{{siteDescription}}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{{domainUri}}}" />
		<meta property="og:site_name" content="{{siteName}}" />
		<meta name="twitter:card" content="{{siteDescription}}">
		<meta name="twitter:site" content="@{{external.twitterAccountName}}">
		<meta name="twitter:title" content="{{siteName}}">
		<meta name="twitter:description" content="{{siteDescription}}">
		<meta name="twitter:creator" content="@{{external.twitterAccountName}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<style>
			{{> styles}}
		</style>
		<script>
			{{> scripts}}
		</script>
	</head>
	<body style="{{#minBodyWidth}}min-width:{{minBodyWidth}}px;{{/minBodyWidth}}{{#minBodyHeight}}min-height:{{minBodyHeight}}px;{{/minBodyHeight}}">
		<noscript><p>JavaScript is disabled! You may see some wonkiness.</p></noscript>
		{{> analyticsBody }}
		{{> layout}}
	</body>
</html>