<!DOCTYPE html>
<html>
	<head>
		<title>{{#title}}{{.}} | {{/title}}{{siteName}}</title>
		<style>
			{{> style}}
		</style>
		<script>
			{{> script}}
		</script>
	</head>
	<body style="{{#minBodyWidth}}min-width:{{minBodyWidth}}px;{{/minBodyWidth}}{{#minBodyHeight}}min-height:{{minBodyHeight}}px;{{/minBodyHeight}}">
		<div id="wrapper">
			{{> layout}}
		</div>
	</body>
</html>