<ul id="grid">
	{{#projects}}
		<li id="{{id}}" class="grid-item" style="grid-column-start:{{{grid.colStart}}};grid-column-end:span {{{grid.cols}}};grid-row-start:{{{grid.rowStart}}};grid-row-end:span {{{grid.rows}}};background-color:{{backgroundColor}};{{#isPixelArt}}image-rendering:pixelated;{{/isPixelArt}}">
			{{> gridItemImage}}
		</li>
	{{/projects}}
</ul>