<object width="{{code.width}}px" height="{{code.height}}px">
	<param name="movie" value="{{{code.uri}}}">
	<embed src="{{{code.uri}}}" width="{{code.width}}px" height="{{code.height}}px">
	</embed>
</object>
{{> projectDescription}}