<p>
	{{#showFooterText}}<span class="footer-text">Follow me on</span>{{/showFooterText}}
	<a class="icon-link" href="{{{external.twitterUri}}}" target="_blank">
		{{> twitterIcon}}
	</a>
	<a class="icon-link" href="{{{external.youtubeUri}}}" target="_blank">
		{{> youtubeIcon}}
	</a>
	<a class="icon-link" href="{{{external.twitchUri}}}" target="_blank">
		{{> twitchIcon}}
	</a>
	<a class="icon-link" href="{{{external.githubUri}}}" target="_blank">
		{{> githubIcon}}
	</a>
	{{#showFooterText}}<span class="footer-text">or consider <a href="{{{external.kofiUri}}}" target="_blank">buying me a coffee</a>{{/showFooterText}}
</p>