<ul class="game-controls">
	<li><a id="control-reset" href="javascript:;">Reset</a></li>
	<li><a id="control-pause" href="javascript:;">Pause</a></li>
	<li><a id="control-sound" href="javascript:;">Mute</a></li>
	<li><a id="control-fullscreen" href="javascript:;">Fullsreen</a></li>
</ul>