<a class="grid-item-link" href="{{{uri}}}">
	<div class="grid-item-image" style="width:{{image.gallery.width}}px;height:{{image.gallery.height}}px;background-image:url('{{{image.gallery.uri}}}');background-size:{{image.gallery.sheetWidth}}px {{image.gallery.sheetHeight}}px;background-position:-{{image.gallery.x}}px -{{image.gallery.y}}px;">
		{{#shortDescriptionStripped}}
			<span class="screen-reader-only">{{{shortDescriptionStripped}}}</span>
		{{/shortDescriptionStripped}}
	</div>
</a>