<div id="project-pane" style="width:{{image.project.width}}px;height:{{image.project.height}}px;background-image:url('{{image.project.uri}}');background-size:{{image.project.width}}px {{image.project.height}}px;{{#isPixelArt}}image-rendering:pixelated;{{/isPixelArt}}background-color:{{backgroundColor}};"></div>
{{#description}}
	<p>{{{description}}}{{#dateText}} ({{dateText}}){{/dateText}}</p>
{{/description}}
{{^description}}
	{{#dateText}}<p>{{dateText}}</p>{{/dateText}}
{{/description}}