{{#description}}
	<p>{{{description}}}{{#dateText}} <span class="date-text">({{dateText}})</span>{{/dateText}}</p>
{{/description}}
{{^description}}
	{{#dateText}}<p><span class="date-text">{{dateText}}</span></p>{{/dateText}}
{{/description}}