<h3 class="screen-reader-only">Games</h3>
<ul id="grid-complete" class="grid">
	{{#projects}}
		{{#isComplete}}
			{{> uniformGridItem}}
		{{/isComplete}}
	{{/projects}}
</ul>

<h3>Scraps 'n Such</h3>
<ul id="grid-playable" class="grid">
	{{#projects}}
		{{^isComplete}}
			{{> uniformGridItem}}
		{{/isComplete}}
	{{/projects}}
</ul>