<!DOCTYPE html>
<html>
	<head>
		<title>{{#pageTitle}}{{.}} | {{/pageTitle}}{{siteName}}</title>
		<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,800">
		<style>
			{{styles}}
		</style>
	</head>
	<body>
		{{content}}
	</body>
</html>