<div id="grid" style="width:{{gridWidth}}px;height:{{gridHeight}}px;">
	{{#gridItems}}
		<div class="grid-item" style="top:{{y}}px;left:{{x}}px;width:{{width}}px;height:{{height}}px;"></div>
	{{/gridItems}}
</div>