<header>
	{{> header}}
	{{#navInHeader}}
	<nav>
		{{> nav}}
	</nav>
	{{/navInHeader}}
</header>
{{^navInHeader}}
<nav>
	{{> nav}}
</nav>
{{/navInHeader}}
<main>
	{{> main}}
</main>
<footer>
	{{> footer}}
</footer>