<div id="project-pane" style="width:{{width}}px;height:{{height}}px;background-image:url('/{{imagePath}}');background-size:{{width}}px {{height}}px;{{#isPixelArt}}image-rendering:pixelated;{{/isPixelArt}};background-color:{{background}};"></div>
{{#description}}
	<p>{{description}}{{#dateText}} ({{dateText}}){{/dateText}}</p>
{{/description}}
{{^description}}
	{{#dateText}}<p>{{dateText}}</p>{{/dateText}}
{{/description}}